.clr-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clr-error .clr-input:not([readonly]), .clr-input:not([readonly]), .clr-textarea.clr-textarea {
    width: 300px;
}